:root{
  --wds: #564782;
  --mgp: #3d3051;
}

header {
  margin: 0 auto;
  position: fixed;
  z-index: 10;
}

body {
  background-color: #23144F;
  font-family: sans-serif;
  margin: 0;
  font-weight: 400;
}

.logo {
  display:none;
}

.cropImg .bImg{
  width: 100%;
  opacity: 0.6;
  position: relative;
}

.cropImg{
  height: 800px;
  overflow: hidden;
  position: relative;
}

.title{
  text-align: center;
  color: white;
  position: absolute;
  margin-left: 60px;
  font-size: 4.8vw;
  margin-top: 40%;
  position: absolute;
}

.titleBack{
  text-align: center;
  color: white;
  position: absolute;
  margin-left: 60px;
  font-size: 4.8vw;
  margin-top: -460px;
  position: absolute;
  opacity: 0.7;
}

.title2{
  text-align: center;
  color: white;
  position: absolute;
  margin-left: 65px;
  font-size: 1.9vw;
  margin-top: 430px;
  position: absolute;
}

.blankPage{
  height: 800px;
  background: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

.nav {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 10;
  clear: both;
  opacity: 0.95;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul#menu {
  display: none;
}
ul#menu li a {
  width: 100%;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  background-color: white;
  color: black;
  transition: background 0.2s;
  text-decoration: none;
}
ul#menu a:hover {
  color: var(--wds);
}

ul.hamburger li {
  height: 5px;
  background: var(--wds);
  content: "";
  position: relative;
  transition: 0.25s ease-in-out;
}

/*.hidden {
  opacity: 0;
}*/

.rot45deg {
  transform: rotate(45deg);
  top: 10px !important;
}

.rot-45deg {
  transform: rotate(-45deg);
}

ul.hamburger {
  display: block;
}
ul.hamburger li:nth-child(1) {
  top: 0;
}
ul.hamburger li:nth-child(2) {
  top: 5px;
}
/*ul.hamburger li:nth-child(3) {
  top: 10px;
}*/

.hamburger-container {
  width: 38px;
  margin: 1.2em 1.6em;
  height: 17px;
  cursor: pointer;
  float: right;
}

.sectionTitle{
  margin: auto 0;
  text-align: center;
  margin-top: 200px;
}
/* Background Image */

.bgImage{
  background-image: url("https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size:cover;
  opacity: 0.9;
  height: 600px;
}

.heightTeamBox{
  height: 530px;
}

.tableL {
	display: table;
	margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.footerUL{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.footerLI{
  padding-top: 0.4em;
  margin-bottom: 0.65em;
  margin-left: 1em;
  text-align: center;
  font-size: 1.4rem;
}
.footerLIF{
  padding-top: 0.4em;
  margin-bottom: 0.65em;
  margin-left: -1em;
  text-align: center;
  font-size: 0.9rem;
}
.footerA{
  color: black;
  text-decoration: none;
}

.footerAT{
  color: black;
  /*font-size: 20px;*/
  text-decoration: none;
}
.footerAT:hover, .footerA:hover{
  color: var(--wds);
}

#footer{
  height: 50px;
  background: white;
}
/* #content{
  padding-bottom: 80px;
} */


@media screen and (min-width: 1500px) {

.aboutTextHeader{
  padding-right: 150px;
  padding-left: 150px;
}

.aboutText{
  font-size: 19px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 150px;
  padding-left: 150px;
  }
}

.contactTextHeader{
  padding-right: 150px;
  padding-left: 150px;
}


@media screen and (min-width: 800px){
  .bgImage{
    height: 1000px;

  }
}

@media screen and (min-width: 800px) {
  .hamburger-container {
    display: none;
  }

  .logo {
    display:block;
    margin-left: 10px;
    float: left;
    width: 35px;
    padding: 7px 0;
  }
  .title{
    text-align: center;
    color: white;
    position: absolute;
    margin-left: 60px;
    font-size: 4.8vw;
    margin-top: 340px;
    position: absolute;
  }

  .titleBack{
    text-align: center;
    color: white;
    position: absolute;
    margin-left: 60px;
    font-size: 4.8vw;
    margin-top: -460px;
    position: absolute;
    opacity: 0.7;
  }

  .title2{
    text-align: center;
    color: white;
    position: absolute;
    margin-left: 65px;
    font-size: 1.9vw;
    margin-top: 430px;
    position: absolute;
  }

  ul#menu {
    display: inline;
    float: right;
  }
  ul#menu li {
    display: inline-block;
    margin-right: -5px;
    height: 52px;
  }
}

/* For the comming soon popup - will be deleted after full implementation */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -325%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -17%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

  /*
  nav {
    float: right;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 29px;
  }

  nav li {
    display: inline-block;
    margin-left: 29px;
    padding-top: 19px;
    position: relative;
  }

  nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }

  nav a:hover {
    color: #564782;
    transition: all ease-in-out 160ms;
  }*/
